@media (min-width: 320px) and (max-width: 575.98px) {

  nav {
    z-index: 99;
    background-color: darkgray;
    top: 0;
  }

  .collapse show {
    display: none;
  }

  #banner_part .text h2 {
    font-size: 22px;
    width: auto;
  }

  #banner_part .text p {
    font-size: 14px;
    margin: 27px auto !important;
  }

  #banner_part .text form .ellips {
    font-size: 17px;
    top: 26px;
    left: 3px;
  }

  #banner_part .text form input {
    font-size: 13px;
    padding: 16px 0 16px 34px;
    width: 80%;
    border: 1px solid #396C03;
    outline: none;
  }

  #banner_part .text form a {
    padding: 21px 32px;
    font-size: 13px;
    left: 57%;
  }


  #banner_part .text .text_image {
    left: -10px;
    top: 30px;
    width: 100%;
    max-width: 158px;

  }

  #banner_part .image {
    text-align: center;
    padding: 0 !important;
  }

  #banner_part .image .rootImage {
    width: 100%;
    max-width: 400px;
  }

  #banner_part .image .patha {
    top: 161px;
    left: 185px;
    width: 100%;
    max-width: 122px;
  }




  /* favoritecity section start here */
  #favouritecity_part {
    padding: 50px 0;

  }

  #favouritecity_part .row {
    flex-direction: column-reverse;
    row-gap: 250px;
  }

  #favouritecity_part .person_image {
    width: 100%;
    height: 203.667px;
    left: 0;
    top: -33px;
  }

  #favouritecity_part .food_information h2 {
    width: auto;
    font-size: 35px;
  }

  #favouritecity_part .food_information p {
    width: auto;
    font-size: 14px;
  }



  #favouritecity_part .person_image .food_person {
    left: 0;
    width: 100%;
    left: 15px;
    top: 1px;

  }


  #favouritecity_part .food_person_picture {
    margin-top: 189px;

  }




  /* food sevice section start here */
  #service_part .service_card h4 {
    width: auto;
    font-size: 20px;
  }

  #service_part .service_card p {
    font-size: 13px;
    width: auto;
  }



  /* food time section start here */
  #foodTime_part .foodTime_image a {
    padding: 10px 24px;
    font-size: 12px;
  }

  #foodTime_part .foodTime_image {
    padding: 240px 0 19px;
  }

  #foodTime_part .foodTime_image h4 {
    font-size: 18px;

  }

  #foodTime_part .foodTime_image p {
    font-size: 10px;
  }


  /* question section start here */
  #question_part h3 {
    font-size: 21px;
  }

  #question_part .question_part_titile a {
    font-size: 13px;
    padding: 10px 28px;
  }

  #question_part .question_part_text {
    margin-bottom: 87px;
  }

  #question_part .question_part_text .question_and_icon p {
    font-size: 10px;
  }

  #question_part .question_part_text .question_and_icon i {
    width: 20px;
    height: 20px;
    border-radius: 11px;
    line-height: 1;
    text-align: center;
    border: 1px solid rgba(51, 51, 51, 0.3);
    color: rgba(51, 51, 51, 0.5);
  }

  #question_part .question_part_text .question_part_text_box .second_part_two_paragraph {
    font-size: 11px;
    width: auto;
  }





  /* app section start here */
  #app_part .text h4 {
    font-size: 26px;
  }

  #app_part .text p {
    width: auto;
    font-size: 12px;
  }

  #app_part .text .text_appAll .text_appAll_apptwo {
    margin-left: 0;
    margin-top: 14px;
  }

  .text_appAll {
    text-align: center;
    margin: 37px auto;
  }



  /* footer section start here */
  footer .footerText p {
    font-size: 12px;
    width: auto;
  }

  footer .footerMenu {
    display: flex;
    flex-direction: column;
    margin-top: 74px;
    text-align: center;
  }

  footer .footerMenu h4 {
    margin: 35px 0 !important;
  }

}