/* common css style here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}


a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  display: inline-block;
}

.navbar-brand,
.navbar,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0 !important;
  padding: 0 !important;
}






/* nav section style start here */

nav {
  border-bottom: 2px solid rgba(63, 63, 63, 0.2);
  position: absolute !important;
  top: 17px;
  width: 100%;
}

nav .navbar-brand {
  display: flex;
  justify-content: center;
}


nav .navbar-nav {
  column-gap: 70px;
  margin-right: 101px;
}

nav .navbar-nav .nav-item .nav-link {
  padding: 0;
  color: #3F3F3F;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 200%;
}


nav form {
  column-gap: 23px;
  padding-bottom: 18px;
}

nav form a {
  color: #FFF;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
  padding: 12px 50px;
  border-radius: 225px;
  background: #396C03;

}


nav form .icon .shopIcon {
  font-size: 24px;
  color: #FFF;
  width: 60px;
  height: 60px;
  background-color: #396C03;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

}

nav form .icon {
  position: relative;
}

nav form .icon p {
  position: absolute;
  left: 40px;
  bottom: 38px;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  background: #FF8B00;
  display: flex;
  justify-content: center;
}

/* nav section style end here */






/* banner section style start here */
#banner_part {
  background: rgba(107, 145, 66, 0.1);
  position: relative;
  padding: 249px 0 110px
}

#banner_part .text {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#banner_part .text .text_image {
  position: absolute;
  top: -215px;
  left: -100px;
  filter: blur(5px);
}

#banner_part .text h2 {
  color: #396C03;
  font-family: Merienda;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  width: 681px;
}



#banner_part .text p {
  color: #676767;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  margin: 27px 0 !important;
}

#banner_part .text h2 span {
  color: #FF8B00;
}


#banner_part .text form {
  position: relative;
}

#banner_part .text form input {
  color: #C7C7C7;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
  padding: 16px 74px;
  border-radius: 120px;
  border: 2px solid #396C03;
  background: #FFF;
  width: 714px;
  height: 69px;
}

#banner_part .text form .ellips {
  position: absolute;
  font-size: 49px;
  color: #FF8B00;
  top: 10px;
  left: 9px;

}


#banner_part .text form a {
  padding: 15px 50px;
  border-radius: 100px;
  background: #396C03;
  color: #FFF;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
  position: absolute;
  left: 508px;
  height: 69px;
}

#banner_part .image {
  position: relative;
}

#banner_part .container .row .col-lg-5 .image {
  width: 499px;
  height: 497px;
  position: relative;
}
#banner_part .container .row .col-lg-5 .image img {
  width: 100%;
}


#banner_part .container .row .col-lg-5 .pathaImage {
	position: absolute;
	top: -163px;
	right: -144px;
	width: 288px;
	height: 288px;
	transform: rotate(2deg);
	z-index: -1;
}

/* #banner_part .image .rootImage{
  width: 100%;
}


#banner_part .container .row .col-lg-5 .image .pathaImage {
	position: absolute;
	top: -144px;
	right: -115px;
	z-index: -1;
	filter: blur(2.5px);
} */


/* banner section style end here */




/* favourite city section style start here */
#favouritecity_part {
  padding: 146px 0;
  background: #FFF9F2;
}

#favouritecity_part .food_information h2 {
  width: 527px;
  color: #396C03;
  font-family: Merienda;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}



#favouritecity_part .food_information p {
  width: 567px;
  color: #676767;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin: 10px 0 14px !important;
}




#favouritecity_part .food_information a {
  border-radius: 224.4px;
  background: #396C03;
  padding: 15px 60px;
  color: #FFF;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
}


#favouritecity_part .food_information a i {
  font-size: 16px;
  color: white;
  margin-left: 15px;
}


#favouritecity_part .food_person_picture {
  position: relative;

}

#favouritecity_part .person_image {
  background: url(../images/favoritecity1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 751px;
  height: 500.667px;
  position: absolute;
  top: -100px;
  left: 99px;
}



#favouritecity_part .person_image .food_person {
  position: absolute;
  left: 85px;
  top: 29px;

}

/* favourite city section style end here */






/* food service section style start here */
#service_part {
  padding: 105px 0;
}

#service_part .service_card {
  padding: 60px 47px 38px 54px;
  border-radius: 15px;
}



#service_part .service_card:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFF9F2;
}




#service_part .service_card h4 {
  width: 293px;
  color: #3F3F3F;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  margin: 22px 0 7px !important;
}


#service_part .service_card p {
  color: #676767;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  width: 293px;
}

/* food service section style end here */





/* food time section style start here */
#foodTime_part {
  padding-bottom: 105px;
}


#foodTime_part .foodTime_image {
  background: url(../images/foodCooking.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 590px 0 50px;
  text-align: center;
  border-radius: 30px;
}



#foodTime_part .foodTime_image h4 {
  color: #FFF;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;

}



#foodTime_part .foodTime_image p {
  color: #EDEDED;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  margin: 19px 0 15px !important;
}



#foodTime_part .foodTime_image a {
  border-radius: 224.4px;
  background: var(--secondary, #FF8B00);
  padding: 15px 60px;
  color: #FFF;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
}


#foodTime_part .foodTime_image a i {
  margin-left: 15px;
}


/* food time section style end here */




/* question section style start here */

#question_part {
  padding-bottom: 105px;
}

#question_part h3 {
  color: #3F3F3F;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  text-align: center;
}

#question_part .question_part_titile {
  margin: 32px 0 36px;
  text-align: center;
}



#question_part .question_part_titile .question_part_titile_btn {
  margin-right: 17px;
}


#question_part .question_part_titile a {
  color: #FFF;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
  border-radius: 224.4px;
  background: #396C03;
  padding: 15px 60px;
  border: 1px solid #396C03;
}


#question_part .question_part_titile a:hover {
  background: rgba(57, 108, 3, 0);
  color: #396C03;
}


/* left side question */
#question_part .question_part_text .question_and_icon {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.30);
  padding: 23px 15px 23px 31px !important;
}


#question_part .question_part_text .question_and_icon p {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 200%;
}


#question_part .question_part_text .question_and_icon i {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 1.3;
  text-align: center;
  border: 1px solid rgba(51, 51, 51, 0.3);
  color: rgba(51, 51, 51, 0.5);
}


/* right side  */
#question_part .question_part_text .question_part_text_box {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.30);
  padding: 26px 11px 94px 31px;
  margin: 30px 0;
}


#question_part .question_part_text .question_part_text_box .question_part_text_box_one {
  border-radius: 0;
  border: 0;
  padding: 0 !important;
}



#question_part .question_part_text .question_part_text_box .second_part_two_paragraph {
  color: #525252;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  width: 541px;
}


#question_part .question_part_text .question_part_text_box .para {
  margin: 29px 0 60px !important;
}


#question_part .right_side_paragraph {
  margin-bottom: 30px !important;
}

/* question section style end here */





/* app section style start here */
#app_part {
  background: rgba(255, 140, 0, 0.1);
  padding: 38px 0;
}


#app_part .text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}


#app_part .text h4 {
  color: #396C03;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

#app_part .text p {
  width: 447px;
  color: #676767;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin: 12px 0 30px !important;
}



#app_part .text .text_appAll .text_appAll_apptwo {
  margin-left: 20px;
}

#app_part .text .text_appAll a img {
  border-radius: 15px;
}

#app_part .image img {
  width: 100%;
  border-radius: 28px;
}

/* app section style end here */



/* footer section style start here */
footer {
  padding: 95px 0 40px;
  background: #224300;
}


footer .footerText p {
  color: #DEDEDE;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  width: 485px;
  margin-top: 10px !important;
}


footer .footerMenu {
  display: flex;
  justify-content: space-between;
}


footer .footerMenu h4 {
  color: #FFF;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 35px !important;
}



footer .footerMenu li a {
  color: #DEDEDE;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 13px !important;
}


footer .copy p {
  color: #DEDEDE;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-top: 74px !important;
}

/* footer section style end here */